body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;

}


@media only screen and (min-width: 768px) {

  .ui.container {
    width: 700px;
    max-width: 700px;

  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 42px;
    color:black;
  }

  nav.ui.container .ui.inverted.compact.menu {
    float: right;
  }

  
}

.ui.inverted.vertical.center.aligned.segment {
  padding-top: 36px;
}

nav.ui.container .ui.inverted.compact.menu {
  background-color: white;
}

nav.ui.container .ui.inverted.compact.menu .item {
  padding-bottom: 0;
}

nav.ui.container .ui.inverted.compact.menu .item {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
  background-color: inherit;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.ui.inverted.vertical.segment {
  height: 100vh;
  background-color: white;
}

.ui.content.container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 125px;
  color:black;
}

.ui.content.container h1.header {
  font-size: 36px;
  color:black;
}

.ui.content.container p {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui.inverted.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: gray;
}

.ui.inverted.vertical.segment footer.ui.segment a {
  color: rgb(50, 50, 50);
}

.ui.card.inputdata {
    height:45vh;
    
}

.ui.card.status {
    height:25vh;
    width:40vw;
    overflow: 'auto';
}

.div.content.labels{
    height:1vh;

}

.ui.card.inputdata {
    margin:0;
    padding:10px;
    box-sizing: border-box;
}

.ui.container.content.graph {
    padding:0;
    margin-left:0px !important;
}

.ui.header.chart-title {
    padding-left:50px;
}

